{% for name in upstream %}
{% set block = upstream[name] %}
upstream {{ name }} {
    server {{ block['server'] }};
}
{% endfor %}
server {
    listen 80 {{ ansible_default_ipv4.address }};
    listen [::]:80 default_server;
    server_name {{ domain }};

    root /var/www/{{ domain }};
    index index.html;
    try_files $uri /index.html;
}
